.search-area {
    justify-content: center;
    text-align: center;  
    text-shadow: 2px 2px 3px #c6c6c6;
}

.background-search {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
    padding: 300px;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1490991268239-cceeedd63e15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2288&q=80");
}